.new_entry_button {
	margin-top: 10px;
}

#new_commitment {
	select{font-size: 15px;}
}

.date_today{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.form-group.required .control-label:after {
  content:"*";color:red;
}
#dayOfWeek{
	margin-left: 5px;
	background-color: bisque;
	padding: 5px;
}